/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* reset css off */

body{
    padding: 0 100px;
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.journey{
     font-family: sans-serif;
     font-weight: 900;
     font-size: 28px;
}

.logo-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-wrap{
    display: flex;
    flex-direction: row;
}

.nav-wrap a{
    margin-right: 40px;
}

/* main */

.bg-banner{
    background-image: url(/block-BHaacj/assets/banner.jpg);
    
    background-size: cover;
    height: 80vh;
}

.bg-banner h2{
    display: flex;
    justify-content: center;
    font-size: 38px;
    color: white;
    padding-top: 100px;
}

.bg-banner p{
    text-align: center;
    font-size: 22px;
    color: white;
}

.dot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: turquoise;
    margin-top: 20px;
}