/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
.relative{
    position: relative;
}

/* reset css off */

body{
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    background-color: wheat;
    
}
main{
    margin: 0 100px;
    background-color: white;


}

.padding{
    padding: 0 100px;
}

.green{
    background-color: rgb(105,198,186);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.journey{
     font-family: sans-serif;
     font-weight: 900;
     font-size: 28px;
}

.logo-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-wrap{
    display: flex;
    flex-direction: row;
}

.nav-wrap a{
    margin-right: 40px;
}

/* main */

.bg-banner{
    background-image: url(/block-BHaacj/assets/banner.jpg);
    
    background-size: cover;
    height: 80vh;
}

.h2-head{
    display: flex;
    justify-content: center;
    font-size: 38px;
    color: white;
    padding-top: 100px;
}

.bg-banner p{
    text-align: center;
    font-size: 22px;
    color: white;
}

.dot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.arrow{
    display: block;
    margin: 0 auto;
    /* width: 50px; */
    height: 50px;
    border-radius: 50%;
    background-color: turquoise;
    margin-top: 20px;
}

/* row */

.row-wrapper{
    background-color: white;
    border: 2px black solid;
}

.first-row{
    display: flex;
}

.second-row{ 
    display: flex;
}









/* priority */

.priority{
    text-align: center;
}

.priority h2{
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0;
}

.priority b{
    font-weight: 900;
}

.priority p{
    font-size: 16px;
    line-height: 1.5;
}

.btn-prior{
   margin: 20px 0;
   height: 40px;
   background-color: cyan;
   width: 150px;
}

/*place section  */

.place-section{
    display: flex;
    align-items: center;
}

.content-place-1{
    background-color: darkcyan;
    height: 150px;
    border: 2px solid black;
}

.left30{
    left: 30px;

}

.right30{
    right: 30px;
}

/* continent */

.continent{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* price */

.price-section{
    margin: 50px 40px;
    display: flex;
    justify-content:space-evenly;
    border: 1px solid black;
}


.dollar-curve{
    display: flex;
    align-items: center;
    background-color: teal;
    
}




/* smp */

.btn-smp{
    height:40px;
    width:180px;
    display: block;
    margin:0 auto;
    border: none;
    color: white;
    margin-bottom: 40px;
}

/* map */

.map{
    width: 100%;
}

.map-container{
    position: absolute;
    right: 80px;
    bottom: 80px;

    border: 2px solid black;
    height: 350px;
    width: 400px;
    background-color: white;
    
}

.box{
    height: 40px;
}

.box-1{
    width: 180px;
    margin: 5px;
}

.box-2{
    width: 370px;
    margin: 4px;
}

.box-3{
    height: 180px;
    width: 370px;
    margin: 5px;
}

.box-4{
    margin: 5px ;
    height: 40px;
    width: 370px;
    color: white;
    border: none;
}

/* footer */


.footer{
    color: white;
    height: 60px;
    width: 1400px;
    text-align: center;
    margin-top:100px;
    padding-top: 25px;
    font-weight: 400;
    font-size: 14px;

}